:root {
    --basic-text-color: #212121;
    --text-color: #757575;
    --logo-text-color: #000;
    --accent-color: #2196f3;
    --second-color: #fff;
    --bg-color: #2f303a;
    --link-accent-color: rgba(255, 255, 255, 0.6);
    --team-bg-color: #f5f4fa;
}
body {
    color: var(--basic-text-color);
    font-family: "roboto", sans-serif;
    letter-spacing: 0.03em;
    font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/**---------- HEADER -------------*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--basic-bg-color);
    border: 1px solid #ececec;
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;
}
.logo-text {
    color: var(--accent-color);
}
.logo-text-second {
    color: var(--logo-text-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--basic-text-color);
}
.header-link.active-page {
    color: var(--accent-color);
}
.active-page {
    position: relative;
}
.active-page::after {
    content: "";
    background-color: var(--accent-color);
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-item:last-child {
    margin-right: 0;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}
.header-address-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.header-address-list {
    display: flex;
    gap: 50px;
}
.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-color);
}
.header-address-icon {
    fill: var(--text-color);
    margin-right: 10px;
}
.header-address-link:hover .header-address-icon,
.header-address-link:focus .header-address-icon {
    fill: var(--accent-color);
}

/**---------- HERO -------------*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg-img4.jpg);
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    color: var(--second-color);
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--second-color);
    background-color: var(--accent-color);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/**---------- ACTYVITY -------------*/

.activity-list {
    display: flex;
    margin-left: -30px;
}
.activity-item {
    flex-basis: calc((100% - 90px) / 4);
    margin-left: 30px;
}
.actyvity-list-box {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}
.activity-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    color: var(--title-color);
    margin-bottom: 10px;
    padding-top: 30px;
}
.activity-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
    width: 270px;
    letter-spacing: 0.03em;
}
/**---------- ABOUT -------------*/
.about-title {
    color: var(--basic-text-color);
    margin-bottom: 50px;
}
.about-list {
    display: flex;
    justify-content: space-between;
}
.about-cover-wrap {
    position: relative;
    overflow: hidden;
}
.about-pic-text {
    position: absolute;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--second-color);
    background-color: var(--bg-color);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 27px;
    height: 70px;
    width: 370px;
}
/**---------- TEAM -------------*/
.team {
    background-color: var(--team-bg-color);
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-item-box {
    padding: 30px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: var(--second-color);
}
.team-title {
    color: var(--basic-text-color);
    margin-bottom: 50px;
}
.team-item-title {
    font-weight: 500;
    text-align: center;
    color: var(--basic-text-color);
    margin-bottom: 10px;
}
.team-item-text {
    color: var(--text-color);
    text-align: center;
    padding-bottom: 16px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-item {
    width: 44px;
    height: 44px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
}
.team-soc-icons {
    fill: #afb1b8;
}
.team-soc-link:hover .team-soc-icons,
.team-soc-link:focus .team-soc-icons {
    fill: var(--second-color);
}

/**---------- CLIENTS -------------*/

.clients {
    background-color: var(--second-color);
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-list-item {
    width: 170px;
    height: 92px;
}

.clients-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.clients-list-icon {
    fill: #afb1b8;
}

.clients-list-link:hover,
.clients-list-link:focus {
    border-color: var(--accent-color);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:hover .clients-list-icon {
    fill: var(--accent-color);
}

/**---------- PROJECT -------------*/
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: #fff;
}
.section-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--basic-text-color);
    border: none;
    padding: 6px 22px;
    min-width: 73px;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    background: #f5f4fa;
    cursor: pointer;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-item-box {
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: 0;
}
.project-item {
    flex-basis: calc((100% - 90px) / 3);
    width: 370px;
    height: 404px;
    background: var(--second-color);
}
.project-item:hover .progect-cover-text {
    transform: translateY(0);
}
.project-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.project-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--basic-text-color);
    margin-bottom: 4px;
}
.project-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.project-list-link {
    display: block;
}
.progect-cover-text {
    position: absolute;
    top: 0;
    color: var(--second-color);
    font-size: 18px;
    padding: 24px;
    background-color: #2195f3d5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
}
.progect-cover-wrap {
    position: relative;
    overflow: hidden;
}
/**---------- FOOTER -------------*/
.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container {
    display: flex;
}
.footer-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    display: block;
    margin-bottom: 20px;
}
.logo-text {
    color: var(--accent-color);
}
.logo-text-custom {
    color: var(--second-color);
}
.footer-address {
    font-style: normal;
}
.footer-address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-color);
}
.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--text-color);
}
.footer-address-item:not(:last-child) {
    margin-bottom: 10px;
}
.footer-box {
    margin-right: 70px;
}

.footer-text {
    color: var(--second-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-soc-list {
    display: flex;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-icon {
    fill: var(--second-color);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.footer-container {
    display: flex;
    align-items: baseline;
    gap: 80px;
}
.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--second-color);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    color: var(--second-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-btn {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--second-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #188ce8;
}

.footer-subscribe-icon {
    fill: var(--second-color);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: var(--accent-color);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 40px;
}
.modal-input {
    width: 100%;
    height: 50px;
    padding-left: 40px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: var(--accent-color);
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
    border-color: var(--accent-color);
}
.input-wrap:hover .modal-icon,
.input-wrap:focus-within .modal-icon {
    fill: var(--accent-color);
}
.input-label,
.user-text {
    display: block;
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 16px;
}
.input-label span {
    display: block;
    margin-bottom: 5px;
}
.input-wrap {
    position: relative;
    display: block;
}
.modal-comment {
    width: 100%;
    height: 100px;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.modal-comment:hover,
.modal-comment:focus {
    border-color: var(--accent-color);
}
.user-text:focus-within .modal-comment {
    border-color: var(--accent-color);
}
.check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
}
.check-text span {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
    fill: var(--second-color);
}
.privacy-link {
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: 4px;
}
.modal-submit-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    color: var(--second-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: #188ce8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-filed {
    margin-top: 16px;
    margin-bottom: 24px;
}
